## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [127]:
# Your code here
sample_list_1 = random.sample(range(100), k=80, counts=None)
print(sorted(sample_list_1))
type(sample_list_1)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 56, 57, 58, 60, 61, 63, 64, 66, 67, 68, 69, 71, 72, 75, 76, 77, 79, 80, 81, 82, 85, 86, 87, 89, 90, 91, 92, 94, 95, 97, 98, 99]

list

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [129]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))
type(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 56, 57, 58, 60, 61, 63, 64, 66, 67, 68, 69, 71, 72, 75, 76, 77, 79, 80, 81, 82, 85, 86, 87, 89, 90, 91, 92, 94, 95, 97, 98, 99}
80

set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [131]:
# Your code here
sample_list_2 = []
for index in range(80):
    sample_list_2 += random.sample(range(100),k=1)
print(sorted(sample_list_2))

[1, 2, 4, 4, 5, 5, 6, 6, 7, 9, 9, 11, 15, 18, 18, 20, 21, 23, 25, 25, 26, 26, 26, 28, 29, 31, 33, 35, 35, 36, 37, 37, 38, 38, 42, 44, 44, 46, 49, 52, 54, 54, 55, 57, 59, 61, 61, 62, 63, 63, 64, 65, 66, 67, 69, 70, 70, 71, 71, 72, 73, 76, 76, 76, 77, 78, 80, 82, 84, 85, 86, 87, 91, 91, 91, 92, 92, 94, 95, 97]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [132]:
# Your code here
set2 = set(sample_list_2)
type(set2)

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [133]:
# Your code here
set3 = set()
for element in set1:
    if element not in set2:
        set3.add(element)
print(set3)

{0, 3, 8, 10, 12, 13, 14, 17, 22, 24, 27, 30, 32, 34, 39, 40, 41, 43, 45, 47, 48, 51, 53, 56, 58, 60, 68, 75, 79, 81, 89, 90, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [134]:
# Your code here
set4 = set()
for element in set2:
    if element not in set1:
        set4.add(element)
print(set4)

{65, 5, 38, 70, 73, 78, 15, 84, 54, 55, 59, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [135]:
# Your code here
set5 = set()
for element in set1:
    if element in set2:
        set5.add(element)
print(set5)

{1, 2, 4, 6, 7, 9, 11, 18, 20, 21, 23, 25, 26, 28, 29, 31, 33, 35, 36, 37, 42, 44, 46, 49, 52, 57, 61, 63, 64, 66, 67, 69, 71, 72, 76, 77, 80, 82, 85, 86, 87, 91, 92, 94, 95, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [136]:
# Your code here
len_numbers = [len(set1), len(set2), len(set3), len(set4), len(set5)]
print(len_numbers)

# It is possible to see these two relationships
print("Relation 1: ", len(set1) == len(set3) + len(set5) if True else False)
print("Relation 1: ", len(set2) == len(set4) + len(set5) if True else False)

#
print("Relation 3: ", len(set1) - len(set3) ==  len(set2) - len(set4) if True else False)

[80, 58, 34, 12, 46]
Relation 1:  True
Relation 1:  True
Relation 3:  True

#### Create an empty set called `set6`.

In [33]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [34]:
# Your code here
set6.update(set3,set5)
print(set6)

{1, 3, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 72, 73, 74, 75, 77, 78, 79, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [37]:
# Your code here
if set1 == set6:
    print("Yes, both are equals")
else:
    print("Not, these are different")

Yes, both are equals

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [39]:
# Your code here
result = set2.issubset(set1)
print(result)
result2 = set3.issubset(set1)
print(result2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
# Your code here
union1 = set3.union(set4,set5)
union2 = set1.union(set2)
if union1 == union2:
    print("Yes, both are equals")
else:
    print("Not, these are different")

Yes, both are equals

#### Using the `pop` method, remove the first element from `set1`.

In [87]:
# Your code here
temp_list = list(set1)
temp_list.pop(0)
set1_without_first = set(temp_list)
# Check the result
print("The result before extration: ",set1)
print("The result after extration: ",set1_without_first)

The result before extration:  {0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 34, 35, 37, 38, 40, 41, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 94, 95, 96, 97, 98, 99}
The result after extration:  {1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 34, 35, 37, 38, 40, 41, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [115]:
""""
# Your code here
I 
""""
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
temp_list = list(set1)

for element in list_to_remove:
    if element in temp_list:
        temp_list.remove(element)
print(set(temp_list))

{0, 2, 3, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 34, 35, 37, 38, 40, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 78, 80, 82, 83, 84, 85, 86, 87, 88, 94, 95, 96, 97, 98}

In [113]:
set_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
set_without_list = set1
set_without_list -= list_to_remove
print(set_without_list)

{0, 2, 3, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 34, 35, 37, 38, 40, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 78, 80, 82, 83, 84, 85, 86, 87, 88, 94, 95, 96, 97, 98}

In [116]:
set_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
set_with_list = set1
set_without_list = set_with_list.difference(list_to_remove)
print(set_without_list)

{0, 2, 3, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 34, 35, 37, 38, 40, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 78, 80, 82, 83, 84, 85, 86, 87, 88, 94, 95, 96, 97, 98}