# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [111]:
# import numpy and pandas
import numpy as np
import pandas as pd

from statsmodels.stats.weightstats import ztest
from statsmodels.stats.weightstats import ttest_ind
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import t

import seaborn as sns
import matplotlib.pylab as plt

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
path_data = '../data/Current_Employee_Names__Salaries__and_Position_Titles.csv'
salaries = pd.read_csv(path_data)

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

In [116]:
salaries_annual_df = salaries[salaries['Salary or Hourly'] == 'Salary']
salaries_hourly_df = salaries[salaries['Salary or Hourly'] == 'Hourly']
print(salaries_annual_df.count())
print(salaries_hourly_df.count())

Name                 25161
Job Titles           25161
Department           25161
Full or Part-Time    25161
Salary or Hourly     25161
Typical Hours            0
Annual Salary        25161
Hourly Rate              0
dtype: int64
Name                 8022
Job Titles           8022
Department           8022
Full or Part-Time    8022
Salary or Hourly     8022
Typical Hours        8022
Annual Salary           0
Hourly Rate          8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [39]:
# Your code here:
Department = salaries.groupby('Department')['Name'].count()#.sort_values(by='Department', ascending=True)
Department

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [12]:
# Your code here:
# H0: u == 30 $/h
# H1: u != 30 $/h
# alpha = 1 - 0.95   (este es el 95% que nos dan en el enunciado)

#salaries_hourly_df.describe()
#salaries_hourly_df.head()

In [19]:
hypothesis_mean = 30   # 30 $/h
sample_mean = salaries_hourly_df['Hourly Rate'].mean()
alpha = 0.05
print('Sample mean: ', sample_mean)

# t-test
#tstat, p_value_t = ttest_ind(salaries_hourly_df['Hourly Rate'], value=hypothesis_mean)
#print(f'Z_score: {tstat}', f'\np-value: {p_value_t}')

# Z-test
Z_score, p_value = ztest(salaries_hourly_df['Hourly Rate'], value=hypothesis_mean)
print(f'Z_score: {Z_score}', f'\np-value: {p_value}')

Sample mean:  32.78855771628024
Z_score: 20.6198057854942
p-value: 1.8228873859286195e-94

*We reject the null hypothesis (p-value < alpha). Means with 95% confidence that the alternative hypothesis is accepted, wage is significantly different than 30 dollars/hr*

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [34]:
# Your code here:
salaries_police_df = salaries[salaries['Department'] == 'POLICE']
salaries_police_df = salaries_police_df[salaries_police_df['Salary or Hourly'] == 'Salary']
salaries_police_df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN

In [35]:
salaries_police_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13404 entries, 0 to 33181
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               13404 non-null  object
 1   Job Titles         13404 non-null  object
 2   Department         13404 non-null  object
 3   Full or Part-Time  13404 non-null  object
 4   Salary or Hourly   13404 non-null  object
 5   Typical Hours      0 non-null      float64
 6   Annual Salary      13404 non-null  float64
 7   Hourly Rate        0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 942.5+ KB

In [36]:
salaries_police_df.describe()

       Typical Hours  Annual Salary  Hourly Rate
count            0.0   13404.000000          0.0
mean             NaN   86486.414503          NaN
std              NaN   18272.228294          NaN
min              NaN   38376.000000          NaN
25%              NaN   84054.000000          NaN
50%              NaN   90024.000000          NaN
75%              NaN   94524.000000          NaN
max              NaN  260004.000000          NaN

In [37]:
# Z-TEST
# H0: u < 86k $/y
# H1: u >= 86k $/y
# alpha = 0.05

hypothesis_mean_police = 86000   # 86000 $/h
Z_score, p_value = ztest(salaries_police_df['Annual Salary'], value=hypothesis_mean_police)
print('Z score is: ', Z_score)
print('p value is: ', p_value)

Z score is:  3.081997005712994
p value is:  0.002056169057509571

*We reject the null hypothesis (p-value < alpha). Means with 95% confidence that the alternative hypothesis is accepted, wages are greater than or equal to 86k.*

Using the `crosstab` function, find the department that has the most hourly workers.

In [130]:
# Your code here:
# I will use the 'salaries_hourly_df' dataframe to calculate the deparment with most hourly workers
table2 = pd.crosstab(salaries_hourly_df['Department'], salaries_hourly_df['Salary or Hourly'])   # Create crosstab
depart_most_hourly_workers = table2['Hourly'].idxmax()   # 
print('The deparment with most hourly workers is: ', table2['Hourly'].idxmax())

The deparment with most hourly workers is:  STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [138]:
# Your code here:
# Extract data from the department 'Streets & San'.
salaries_streets = salaries_hourly_df[salaries_hourly_df['Department'] == 'STREETS & SAN']
salaries_streets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1862 entries, 7 to 33156
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1862 non-null   object
 1   Job Titles         1862 non-null   object
 2   Department         1862 non-null   object
 3   Full or Part-Time  1862 non-null   object
 4   Salary or Hourly   1862 non-null   object
 5   Typical Hours      1862 non-null   float64
 6   Annual Salary      0 non-null      float64
 7   Hourly Rate        1862 non-null   float64
dtypes: float64(3), object(5)
memory usage: 130.9+ KB

The Hourly Rate column doesn't include nulls, so it's possible to calculate the z-test. The two hypotheses are shown below:

In [140]:
# Z-TEST
# H0: u >= 35 $/hour
# H1: u < 35 $/hour
# alpha = 0.05
hypothesis_mean_streets = 35   # 35 $/hou
Z_score, p_value = ztest(salaries_streets['Hourly Rate'], value=hypothesis_mean_streets)
print('   - Z score is: ', Z_score)
print('   - p value is: ', p_value, '\n')

   - Z score is:  -9.567447887848152
   - p value is:  1.0957711283886869e-21

Since the p_value is less than alpha, the null hypothesis can be rejected. Therefore, you can conclude that there is significant statistical evidence to claim that the hourly wage in the 'Streets and San' department is significantly less than 35 dollars/hour. Such a negative z-score indicates that the observed mean is significantly below the mean expected under the null hypothesis.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [93]:
# Your code here:
# Calculate the mean and standard error
hourly_rates = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
mean_hourly = hourly_rates.mean()
std_error_hourly = stats.sem(hourly_rates)

# Calculate the confidence interval
confidence_interval = t.interval(confidence=0.95,          # 95% confidence level
                                 df=len(hourly_rates)-1,   # Degrees of freedom
                                 loc=mean_hourly,          # Mean
                                 scale=std_error_hourly)   # Standard error

# Print
print(f'95% confidence interval for the average hourly wage: {confidence_interval}')

95% confidence interval for the average hourly wage: (32.52345834488425, 33.05365708767623)

In [95]:
hourly_rates

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [98]:
# Your code here:
salaries_police_df2 = salaries_police_df[salaries_police_df['Salary or Hourly'] == 'Salary']['Annual Salary']
salaries_police_df2.head()

# Calculate the mean and standard error
salary_police = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
mean_hourly2 = salary_police.mean()
std_error_hourly2 = stats.sem(salary_police)

# Calculate the confidence interval
confidence_interval2 = t.interval(confidence=0.95,          # 95% confidence level
                                  df=len(hourly_rates)-1,   # Degrees of freedom
                                  loc=mean_hourly2,          # Mean
                                  scale=std_error_hourly2)   # Standard error

# Print
print(f'95% confidence interval for the average hourly wage: {confidence_interval}')

95% confidence interval for the average hourly wage: (32.52345834488425, 33.05365708767623)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

Since there is no column where cities are indicated, I am going to perform a similar problem but selecting in this case the workers of the general services department:

In [112]:
# Your code here:
# Count the number of hourly workers and the total number in the city of Chicago
hourly_general_services = salaries[(salaries['Department'] == 'GENERAL SERVICES')\
                                   & (salaries['Salary or Hourly'] == 'Hourly')]
total_general_services = salaries[salaries['Department'] == 'GENERAL SERVICES']

# Define the null hypothesis and perform the proportions test
count = hourly_general_services.shape[0]  # Number of hourly workers in GENERAL SERVICES
nobs = total_general_services.shape[0]   # Total number of workers in GENERAL SERVICES
value = 0.25  # Hypothetical proportion under the null hypothesis (25%)

# Perform the proportions test
z_stat, p_value = proportions_ztest(count, nobs, value=value, alternative='two-sided')

# Print the results
print(f'Z statistic: {z_stat}')
print(f'P-value: {p_value}')

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print('We reject the null hypothesis: the proportion of hourly workers in the General Services deparment is\
    significantly different from 25%.')
else:
    print('There is not enough evidence to reject the null hypothesis: no significant difference in the proportion of\ 
          hourly workers in the General Services deparment.')

Z statistic: 40.1389894104502
P-value: 0.0
We reject the null hypothesis: the proportion of hourly workers in Chicago is significantly different from 25%.