# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [113]:
# import libraries
import pandas as pd
import numpy as np
import math

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [59]:
#Import data set from Ironhack's database
pokemon = pd.read_csv("./data/Pokemon.csv")
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [60]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [61]:
# your code here
sub_df = pokemon.loc[:, ['Type 1','Type 2']]   #Extract the columns Type1 and Type2 
sub_df

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [70]:
# This is a fuction to correct the string name when this whould be incorrect
def correct_names(name):
    part_name = name.split('Mega ')   #Separate the name if it includes 'Mega '
    
    if len(part_name) > 1:   #If len of part_name is greater than 1, it means that the name includes 'Mega '.
        return 'Mega ' + part_name[1]   #Return the correct name
    else:
        return name   #If 'Mega ' is not included in 'name', return 'name'

In [71]:
# your code here
pokemon_df = pokemon

#I use try-except to test the loop
try:
    #Apply the function below to the dataframe colunm
    pokemon_df['Name'] = pokemon_df['Name'].apply(correct_names)
except:
    print('Error: ', df['Name'])

In [72]:
pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [75]:
# your code here
#I use try-except to test the loop
try:
    #Apply the function below to the dataframe colunm
    pokemon_df['A/D Ratio'] = pokemon_df.Attack / pokemon_df.Defense
except:
    print('Error: ', df['Name'])

In [76]:
pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462

#### Identify the pokemon with the highest `A/D Ratio`.

In [83]:
# your code here
pokemon_df['A/D Ratio'].max()

9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [88]:
# your code here
idx_max = pokemon_df['A/D Ratio'].idxmax()   #Identify the position of the pokemon with A/D ratio
pokemon_higth_ratio = df.loc[idx_max, 'Name']   #Extract the name of the pokemon for position idx_max
print(pokemon_higth_ratio)

DeoxysAttack Forme

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [132]:
# your code here

#Function to create a new column with types of pokemon
def combo(type1,type2):
    if pd.isna(type1)==False and pd.isna(type2)==False:   #If type1 and type2 aren't equal to NaN, return 'type1-type2'
        combo = type1 + '-' + type2
        #print('Entra 1: ', combo)
    elif pd.isna(type1):   #If type1 is NaN, return 'type2'
        combo = type2
        #print('Entra 2: ', combo)
    elif pd.isna(type2):   #If type2 is NaN, return 'type1'
        combo = type1
        #print('Entra 3: ', combo)
    return combo

In [133]:
# Apply the function below to the dataframe colunm

#I use try-except to test the loop
try:
    #I use the lambda function to be able to perform the required operations with two columns of the same dataframe. And 
    #after that, apply this function to pokemon_df
    pokemon_df['Combo Type'] = pokemon_df.apply(lambda x: combo(x['Type 1'], x['Type 2']), axis=1)
except:
    print('Error: ', df['Name'])

In [131]:
pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [149]:
# your code here
#With 'nlargest' method is possible to obtain the top-5 of pokemons with greatest A/D ratio. After that, with 'index' is
#possible to obtain the position for each value
index_top5 = pokemon_df['A/D Ratio'].nlargest(n=5).index

#Knowing the positions of the top-5, it's possible to obtain the names of the pokemons with 'loc'
pokemon_top5 = pokemon_df.loc[index_top5, 'Name']
print(pokemon_top5)
type(pokemon_top5)

429    DeoxysAttack Forme
347              Carvanha
19          Mega Beedrill
453              Cranidos
348              Sharpedo
Name: Name, dtype: object

pandas.core.series.Series

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [169]:
# your code here
#combo_top5 = pokemon_df.loc[index_top5, 'Combo Type'].unique()

In [180]:
combo_top5 = list(pokemon_df.loc[index_top5, 'Combo Type'])
ratio_top5 = list(pokemon_df.loc[index_top5, 'A/D Ratio'])

top5_list = []
unique_value = []   

for i in range(len(combo_top5)):
    if combo_top5[i] not in unique_value:
        unique_value.append(combo_top5[i])
        top5_list.append([combo_top5[i], ratio_top5[i]])

print(top5_list)


#NOTES FOR ME
#It's possible to use set as a type of data to store the unique values due to set is a data type where the data stored 
#are uniques.

[['Psychic', 9.0], ['Water-Dark', 4.5], ['Bug-Poison', 3.75], ['Rock', 3.125]]

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [192]:
# your code here

#Extract the names of combos that I have to find in the dataframe in a tuple
combo_unique = tuple(pokemon_df.loc[index_top5, 'Combo Type'].unique())

#Create a list with the columns that I have to operate
column_operation = ['Combo Type', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 
                    'Legendary', 'A/D Ratio']

#NOTE TO THE EXERCISE: The "legendary" column has been taken out of the dataframe because it is a bool type. It means that
#the result of this exercise won't be the same that the solution.
#ComboType_df.info()

#Create a filter to obtain a dataframe with columns that I want
ComboType_df = pokemon_df.loc[:, column_operation]

#Create a filter to obtain reduce the dataframe with the files that I want
ComboType_df = ComboType_df.loc[ComboType_df['Combo Type'] == combo_unique]
ComboType_df

#ComboType_df = pokemon_df.groupby(by = column_operation).mean()

Empty DataFrame
Columns: [Combo Type, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, A/D Ratio]
Index: []